*{
    background-color: rgb(250, 234, 244);
}
.img {
    background-image: url(./img/fb323f18-2dea-4fa3-83f9-4148dc75a201.jpg);
    width: 500px;
    height: 500px;
    margin: auto;
    background-size: contain;
    background-repeat: no-repeat;
}